* {
    box-sizing: border-box;
}

body {
    max-width: 1950px;
    background: #ffffff;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #eeeff1;
}

.conteiner_nav {
    max-width: 1110px;
    margin: 0 auto;
    padding: 79px 0 151px 0;   
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.menu > li {
    float: left;
    color: #34547a;
}

.menu > li + li {
    padding-left: 42px;
}

a {
    text-decoration: none;
    color: #000000;
    letter-spacing: calc(1em / 10);
}

.decor_first{
    font-weight: 500;
    color: #34547a;
}

.cont_design_liyot {
    max-width: 1110px;
    margin: 0 auto;
}

.container_text {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #f3f5f8;
}

.h1_1 {
    max-width: 540px;
    margin: 0;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

.text1 {
    max-width: 540px;
    margin: 0;
    padding: 60px 0 65px 0;
}

.write {
    max-width: 225px;
    padding-bottom: 100px;
    
}

.p_button {
    padding: 19px 0px 20px 75px;
    color: #ffffff;
    background-color: #34547a;
    margin: 0 auto;
    text-decoration: none;
}

.container_about {
    padding-top: 106px;
    padding-bottom: 106px;
    max-width: 540px;
    margin: 0 auto;
}

.h2_1 {
    margin: 0;
    max-width: 540px;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.text2 {
    max-width: 540px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
}   

.conteiner_img_1920 {
    max-width: 1920px;
    background-color: #34547a;
    color: #ffffff;
}

.conteiner_img_1110 {
    max-width: 1110px;
    margin: 0 auto;
}

.img_list {
    max-width: 1110px;
    margin: 0 auto;
    list-style: none; 
    padding: 100px 0;
}

.img_list > li {
    display: inline-block;
}

.img_list > li + li {
    padding-left: 49px;
}

.list {
    display: inline-block;
    padding-left: 20px;
}

.h3_1 {
    max-width: 36px;
    margin: 0 auto;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 21px;
}

.p2 {
    max-width: 71px;
    margin: 0 auto;
}

.container_work {
    padding-top: 100px;
    padding-bottom: 57px;
    max-width: 540px;
    margin: 0 auto;
    background-color: #eeeff1;
}

.container_video {
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.container_video > video {
    max-width: 1110px;
    min-height: 600px;
    margin: 0 auto;
}

.h3_2 {
    max-width: 130px;
    margin: 0;
    padding: 50px 0 20px 0;
    font-weight: 500;
    font-size: 21px;
}

.p3 {
    max-width: 193px;
    margin: 0;
    padding-bottom: 50px;
    font-size: 13px;
}
